<div>
  <img class='flage' src={{flags.svg}} alt='flag' />
  <h1 class='country-name'>{{name}}</h1>
</div>
<ul class='country-inform'>
  <li>Capital: {{capital}}</li>
  <li>Population: {{population}}</li>
  <li>Languages: {{languages}}</li>
</ul>
<p><b>Capital:</b>${capital}</p>
<p><b>Population:</b>${population}</p>
<p><b>Languages:</b>${languages}</p>